

{% extends 'base.html' %}

{% load static %}
{% block page_title %}{{ recipe.name }}{% endblock %}
{% block style %}<style>  </style>{% endblock %}
{% block content %}


        <h1>Recipe Book</h1>
        <h2>Recipe {{recipe.id}}</h2>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit">Logout</button>
            </form>
    {% else %}
        <a href="{% url 'login' %}">Login </a>
    {% endif %}
    
    </header>


    <main>
        {% if user.is_authenticated %}


       


        <h1>{{ recipe.name }}</h1>
        <h2>Ingredients:</h2>
        <h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>
                    Ingredient: {{ ingredient.ingredient.name }}  
                    <br>
                    Quantity: {{ ingredient.quantity }}</li>
                    ---
            {% endfor %}
            <br>
            Page created: {{recipe.created_on}}
            <br>
            Last updated: {{recipe.last_updated}}
            <br>
            Recipe by: {{recipe.Author}}
            
            {% else %}
                You are not logged in, please log in to see the content.
                {% endif %}
            <br>
                    
        <a href="{% url 'ledger:recipes_lists' %}">Back To List</a> 
        <a href="{% url 'ledger:addimage' recipe.id %}">Add images</a> 

        {% if object.recipe.all %}
            {% for recipe_image in object.recipe.all %}
                <img src="{{ recipe_image.image.url }}" alt="">
            {% endfor %}
        {% endif %}

        </h3>
        </ul>
{% endblock %}