<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Recipe Book</h1>
    </header>
    <main>
        <h1>{{ recipe.name }}</h1>
        <h2>Ingredients:</h2>
        <h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>
                    Ingredient: {{ ingredient.ingredient.name }}  
                    <br>
                    Quantity: {{ ingredient.quantity }}</li>
                    ---
            {% endfor %}
                    <br>
            Page created: {{recipe.created_on}}
            <br>
            
            Last updated: {{recipe.last_updated}}



            {% if user.is_authenticated %}
            <br>
            THIS TEXT SHOULD ONLY BE VIEWABLE IF LOGGED IN
            <br>
            Recipe by: {{recipe.Author}}


            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Logout</button>
                </form>

            {% endif %}
        </h3>
        </ul>
    </main>
</body>
</html>
