{% extends 'base.html' %}

{% load static %}
{% block page_title %}{{ recipe.name }}{% endblock %}
{% block style %}<style>  </style>{% endblock %}
{% block content %}

        <h1>Recipe Book</h1>
        <h2>Recipe List Page</h2>
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login </a>
    {% endif %}

    

    </header>
    <main>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'ledger:recipe_detail' recipe.id %}">{{ recipe.name }}</a>
            </li>
        {% endfor %}

    <a href ="{% url 'ledger:add' %}"> Add New Recipe</a>
       


    </main>
{% endblock %}